<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
     <h1>Make a new comment</h1>
     <form action="/coments/new" method="post" >
        <section>
        <label for="username">Enter you name:</label>
       <input type="text" id="username" placeholder="username" name="username">
        </section>
        <br>
        <section>
            <label for="comment">Write down your comment:</label>
            
        </section>
       <div> 
        <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
       </div> 
       <button>Submit</button>
     </form>

     <a href="/coments">Back to comments</a>
    
</body>
</html>